
@media(min-width: 1200px) {
    .third_div_sub_1 {
        padding-right: 30% !important;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem !important;
    }
    .main_third_div{
        margin-top: 6rem;
    }
}

@media(max-width:1200px) {
    .third_div_sub_1 {
        padding: 2rem 2rem !important;
    }
}




.main_third_div{
    height: auto;
}
.third_div_sub_1{
    height: auto;
}
.image_third_div{
    height: 2.8rem;
    width: 8.5rem;
}
.phone_images{
    margin-bottom: -10rem;
    position: relative;
    z-index: -5;
    margin-left: -1.5rem;
}

