
.text_area_main_body{
    height: 500px;
}

.text_area_main_body:focus{
    outline:5px solid rgb(79, 79, 238);

}

.main_first_div{
    height: auto;
    background-color: rgb(27, 27, 210);
}
#menu{
    width: 15rem;
    height: 15rem;
    background-color: white;
    right: 0.5rem;
    top: 3rem;
}

.menu_hidden_div_first_p_tag_div{
    border-right:3px solid red ;
}
.menu_hidden_div_second_p_tag_div{
    border-right:3px solid green ;
}

.menu_icon_text{
    gap: 0.8rem;
}
.menu_icon_text1{
    gap: 4.3rem;
}
.menu_icon_text2{
    gap: 10.5rem;
}
.menu_icon_text3{
    gap: 6.6rem;
}
.h1_first{
    font-size: 2.5rem;
}

.menu_xl{
    width: 2rem;
    flex-wrap: nowrap;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}


 .radio form input:checked+label{
    background-color: white !important;
    color: blue !important;
 }
 .font-size-buttons{
    font-size: 0.9rem;
    font-weight: 600;
 }

 .radio2 form input:checked+label{
    background-color: white !important;
    color: blue !important;
 }
 .email_image{
    top: 2.6rem;
    left: 0.4rem;
 }

 .email_div input:focus{
    outline: 3px solid rgb(115, 115, 223);
 }
 .radio2 form input:checked+label{
    background-color: white !important;
    color: blue !important;
 }

 .radio3 form input:checked+label{
    background-color: white !important;
    color: blue !important;
 }
 .form_last_div{
    font-size: 0.9rem;
 }

.main_buttons:hover{
    scale: 1.1;
}


 
@media (max-width:1005px){
    .text_area_main_body{
        height: 300px;
    }
}


